.container {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 #737373;
  padding: 50px 64px;
  margin: 32px 87px;

  .product-card {
    align-items: center;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px 15px;

    img {
      height: 80px;
      object-fit: contain;
      width: 80px;
    }

    .announcement-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;
      margin-right: auto;
      width: 400px;

      .title {
        margin-bottom: 10px;
      }

      .free {
        color: #00a650;
        font-size: 14px;
      }
    }

    .stock {
      color: #999;
      font-size: 14px;
      font-weight: 300;
      margin-top: 15px;
    }
  }

  .middle {
    margin: 0 auto;
  }

  .price {
    font-size: 24px;
  }
}

.freight-info {
  font-size: 16px;

  .right {
    color: #00a650;
  }
}
