.container {
  padding: 30px 85px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .announce-button {
      background-color: #3483fa;
      border-color: transparent;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;
      padding: 5px;
      width: 100px;

      mat-icon {
        font-size: 20px;
        width: 16px;
        height: 14px;
      }
    }
  }

  .search {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    width: 250px;

    mat-icon {
      color: #666;
    }

    .search-input {
      background: transparent;
      border: none;
      border-bottom: 1px solid #aaa;
      border-radius: 2px;
      font-size: 14px;
      margin-left: 15px;
      padding: 7px 0px;
      width: 100%;
    }

    .search-input:focus {
      outline: none;
    }
  }

  .product-card {
    align-items: center;
    background: #fff;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
    padding: 10px 50px;

    img {
      height: 80px;
      object-fit: contain;
      width: 80px;
    }

    .announcement-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;
      width: 400px;
    }

    .middle {
      margin: 0 auto;
    }

    button {
      border-color: transparent;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;
      padding: 5px;
      width: 150px;
    }

    .edit-button {
      background-color: #3483fa;
      margin-left: auto;
    }

    .remove-button {
      background-color: #fa3434;
      margin-left: 15px;
    }
  }
}
