<div class="container">
  <section class="title-container">
    <div class="cart-title">
      <h3 class="title">Carrinho (0)</h3>
    </div>
    <section class="ui-progress-bar">
      <img class="icon-full"
        src="https://http2.mlstatic.com/frontend-assets/bf-ui-library/1.144.0/assets/icons/full.svg">
      <div class="progress-bar"></div>
      <span>Inclua mais produtos, o frete é grátis!</span>
    </section>
  </section>
  <div class="product-card" *ngFor="let item of cart?.cartItems">
    <img [src]="item.product.imageUrl">
    <div class="announcement-info">
      <h1 class="title">{{ item.product.name }}</h1>
      <span class="free">Frete grátis</span>
      <a class="remove-button" (click)="remove(item.product.id)">Excluir</a>
    </div>
    <div class="quantity-selector-container middle">
      <div class="quantity-selector">
        <button class="button" (click)="subtractQuantity(item.product.id)"
          [ngClass]="item.quantity < 2 ? 'disabled' : ''" [disabled]="item.quantity < 2">-</button>
        <input class="input" type="text" [value]="item.quantity">
        <button class="button" (click)="addQuantity(item.product.id)"
          [ngClass]="item.quantity >= item.product.stock ? 'disabled' : ''"
          [disabled]="item.quantity >= item.product.stock">+</button>
      </div>
      <span class="stock">{{item.product.stock}} disponíveis</span>
    </div>

    <span class="price">{{item.product.price * item.quantity | currency: 'R$ '}}</span>
  </div>
  <div class="footer freight-info">
    <span>Frete</span>
    <span class="right">Grátis</span>
  </div>
  <div class="footer total-value">
    <span>Total com frete</span>
    <span class="right">{{total | currency: 'R$ '}}</span>
  </div>
  <div class="buy" *ngIf="cart?.cartItems?.length">
    <button class="buy-button" (click)="finishCart()">Realizar a compra</button>
  </div>
</div>
