<div class="container">
  <div class="top">
    <a class="logo" routerLink="/hub/home"></a>
    <app-search></app-search>
    <img src="https://http2.mlstatic.com/D_NQ_628808-MLA52432866795_112022-OO.webp" class="hbomax">
  </div>
  <div class="bottom">
    <ul class="nav-menu-list">
      <li class="nav-menu-item" routerLink="/hub/products">
        Comprar
      </li>
      <li class="nav-menu-item" routerLink="/hub/my-products">
        Vender
      </li>
    </ul>
    <nav class="nav-header-menu">
      <div (click)="userMenu.classList.toggle('show')" class="nav-header-user">
        <span class="nav-header-avatar-user icon">
          <mat-icon>account_circle</mat-icon>
        </span>
        <span class="nav-header-username icon">{{ user?.name | uppercase }}</span>
        <span class="nav-header-arrow icon">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </span>
        <div #userMenu class="user-menu">
          <div class="logout" (click)="logout()">Sair</div>
        </div>
      </div>
      <a class="nav-header-item" routerLink="/hub/my-purchases">Compras</a>
      <a class="nav-header-item">Favoritos</a>
      <a class="nav-header-item icon">
        <mat-icon>notifications_none</mat-icon>
      </a>
      <span class="nav-header-item icon" routerLink="/hub/cart">
        <mat-icon>shopping_cart</mat-icon>
      </span>
    </nav>
  </div>
</div>
