<div class="container">
  <div class="top">
    <a class="logo"></a>
  </div>
  <div class="bottom">
    <ul class="nav-menu-list">
      <li class="nav-menu-item">
        <a class="nav-menu-item-link">Comprar</a>
      </li>
      <li class="nav-menu-item">
        <a class="nav-menu-item-link">Vender</a>
      </li>
    </ul>
    <nav class="nav-header-menu">
      <div class="nav-header-user">
        <mat-icon>account_circle</mat-icon>
        <mat-icon>shopping_cart</mat-icon>
        <span class="nav-header-avatar-user"></span>
        <span class="nav-header-username"></span>
      </div>
      <a class="nav-header-item">Compras</a>
      <a class="nav-header-item">Favoritos</a>
      <a class="nav-header-item">
        <mat-icon>notifications_none</mat-icon>
      </a>
      <a class="nav-header-item">
        <i class="icon-cart"></i>
      </a>
    </nav>
  </div>
</div>
