<a href="">Voltar à lista</a>
<div class="container">
  <div class="product-info">
    <img [src]="product?.imageUrl" class="product-image">
    <h1 class="title">{{ product?.name }}</h1>
    <span class="price">{{ product?.price }}</span>
    <span class="description">{{ product?.description }}</span>
  </div>
  <div class="buy-options">
    Vendido por
    <span class="seller">{{ seller?.name }}</span>
    <span class="stock">{{ product?.stock }}</span>
    <input type="text" class="quantity">
    <button class="buy-now">Comprar agora</button>
    <button (click)="addIntoCart()" class="add-cart">Adicionar ao carrinho</button>
  </div>
</div>
