<div class="container">
  <a routerLink="/hub/products">Voltar à lista</a>
  <div class="announcement-background">
    <img [src]="product?.imageUrl" class="product-image">
    <div class="product-info">
      <span class="sold">Novo | {{product!.soldQuantity}} vendidos</span>
      <h1 class="title">{{ product?.name }}</h1>
      <div class="stars">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
      </div>
      <div class="best-seller">MAIS VENDIDO</div>
      <span class="price">{{ product?.price | currency: 'R$ ' }}</span>
      <p class="parcel">em <span class="green">10x {{product!.price / 10 | currency: 'R$ '}} sem juros</span></p>
      <p class="description-info">O que você precisa saber sobre este produto</p>
      <span class="description"></span>
      <ul class="description">
        <li>{{ product?.description }}</li>
      </ul>
    </div>
    <div class="buy-options">
      <div class="shipping-details">
        <div class="block">
          <mat-icon>local_shipping</mat-icon>
          <span class="shipping-text">
            Chegará grátis <span class="bold">amanhã</span>
          </span>
          <img class="full"
            src="https://http2.mlstatic.com/frontend-assets/bf-ui-library/1.144.0/assets/icons/full.svg">
        </div>
        <div class="block">
          <mat-icon>storefront</mat-icon>
          <span class="shipping-text">
            Retire grátis <span class="bold">a partir de amanhã</span>
            em uma agência Mercado Livre
          </span>
        </div>
      </div>
      <span>Vendido por
        <span class="seller">{{ seller?.name | uppercase }}</span>
      </span>
      <div *ngIf="product?.stock" class="stock-available">
        <span class="stock-available-text">Estoque disponível</span>
        <div class="quantity-selector-container middle">
          <div class="quantity-selector">
            <button class="quantity-selector-button" [ngClass]="+quantity < 1 ? 'disabled' : ''"
              [disabled]="+quantity < 1" (click)="subtractQuantity()">-</button>
            <input class="input" type="text" [(ngModel)]="quantity" name="quantity">
            <button class="quantity-selector-button" [ngClass]="+quantity >= product!.stock ? 'disabled' : ''"
              [disabled]="+quantity >= product!.stock" (click)="addQuantity()">+</button>
          </div>
          <span class="stock">{{ product?.stock }} disponíveis</span>
        </div>
      </div>
      <span *ngIf="!product?.stock" class="stock-unavailable">
        Estoque indisponível
      </span>
      <button *ngIf="product?.stock" class="button buy-now" (click)="addIntoCart()">Comprar agora</button>
      <button *ngIf="product?.stock" class="button add-cart" (click)="addIntoCart()">Adicionar ao carrinho</button>
    </div>
  </div>
</div>
